$color-purple: #8800ff;


#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.skillTitle {
    font-size: 4rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}


.skillDesc{
    font-weight: 400;
    font-size: 1.5rem;
    max-width: 50rem;
    padding: 0 2rem;
}


.skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}
.skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #8800ff;
    color: white;
}

.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText p {
    font-size: 1rem;
    font-weight: 300;
}


.hidden {
    opacity: 0;
    transition:all 5s
}

.show{
    opacity: 1;
}

.skillsHidden{
    opacity: 0;
    transition: all 1.5s;
}

.skillsShow{
    opacity: 1;
    transition: all 2s;
}


/* Media queries */

@media screen and (max-width:720px) {
 .skillBarText p {
    font-size: 2vw;
 }
}

@media screen and (max-width:480px) {
    .skillBarText p {
       font-size: 3vw;
    }
    .skillBarImg {
        height: 2rem;
        width: 2rem;
    }
    .skillBarText h2{
        font-size: 5vw;
    }
   }
   

   