$color-purple: #8800ff;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

body {
    background:rgb(255, 255, 255);
    color: $color-purple;
    overflow: hidden;
    overflow-y: scroll;
}
