$color-purple: #8800ff;


.footer{
    width: 100vw;
    height: 4rem;
    background: #982af8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-size: small;
}
